---
const { title,  desc, url, badge, techs, target = "_blank" } = Astro.props;
const tech_url = url.split("/").slice(0, -1).join("/") + "/tag";
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge ? "Cooming Soon" : ""}</div>}
        </h1>
        <p class="py-1 text-1xl">{desc}</p>
        <div class="card-actions justify-end">
          {
            techs &&
              techs.map((tech) => (
                <a href={`${tech_url}/${tech}`} class="badge badge-outline">
                  {tech}
                </a>
              ))
          }
        </div>
      </div>
    </div>
  </a>
</div>
